#landing-page-header {
   position: static;
   display: inline-flex;
   color: white;
}
#header-img {
    position: static;
    z-index:-99;
}
#gyde {
    position:absolute;
    left: 2%;
    margin-top: 7%
}
#gyde-container {
    display:inline-flex;

}
#float-text-right {
    text-align: right;
    margin-right: 5%;
    margin-top: -5%;
    font-size: 3rem;
    font-weight: 600;
}
#landing-page-header strong {
    position: absolute;
    left: 25%;
    bottom: 23%;
    font-size:2rem;
}


#landing-page-info {
    display:grid;
    text-align: justify-all;
}
#landing-page-info section > div {
    display: inline-grid;
}
#landing-page-info section > div > strong {
    text-align:center;
}