body {
    position: fixed;
    width: calc(100%);
    height: calc(100%);
    display: inline-grid;
    margin: 0;
    padding: 0;
    font-family: Rockwell;
    overflow-y: scroll;
}
#app {
    width: inherit;
    height: inherit;
    overflow-y: scroll;
    background-color: #FCFBFE;
}
a {
    background-color: #7649FE;
    border: #FCFBFE 2px solid;
    font-family: inherit;
    color: #7649FE;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    padding: 0.5%;
    border-radius: 0.5rem;
}
button {
    background-color: #7649FE;
    border: #FCFBFE 2px solid;
    font-family: inherit;
    color: #7649FE;
    font-size: 1rem;
    color: white;
    padding: 0.5%;
    border-radius: 0.5rem;
}
h1 {
    color: #7649FE;
}
#app > div {
    width: inherit;
}
header {
    display: inline-flex;
}

 input[type="password"]{
    border-radius: 0.5rem;
    background-color: #FCFBFE;
    border: none;
    font-family: inherit;
    padding: 1%;
}
input[type="text"] {
    border-radius: 0.5rem;
    background-color: #FCFBFE;
    border: none;
    font-family: Rockwell;
    margin-right: 1%;
    padding: 1%;
}